DATABASE_URL="DATABASE_URL=mysql://root:fMYXWbCpmbRvQFFhVVjrsCbrhpSGsYKv@mainline.proxy.rlwy.net:24128/railway"
NEXTAUTH_URL="NEXTAUTH_URL=https://dblueart.vercel.app"
NEXTAUTH_SECRET="NEXTAUTH_SECRET=dblueart2024secretkey"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

CLOUDINARY_CLOUD_NAME="dlqtnkcqz"
CLOUDINARY_API_KEY="547892295978541"
CLOUDINARY_API_SECRET="HONdckCc3JKNomM5vK_QqF58ues"
CLOUDINARY_UPLOAD_PRESET="tu-unsigned-preset"

RESEND_API_KEY="re_xxxxx"
RESEND_FROM_EMAIL="pedidos@tudominio.com"
